.star-wars-wipe-enter {
  transform: translateX(100%);
}
.star-wars-wipe-enter-active {
  transform: translateX(0);
  transition: transform 1.2s ease-in-out;
}
.star-wars-wipe-exit {
  transform: translateX(0);
}
.star-wars-wipe-exit-active {
  transform: translateX(-100%);
  transition: transform 1.2s ease-in-out;
}
